<h1>Posts</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>

  <div>
    <a href="/posts/<%= post.id %>"><%= post.content %></a>
    
  </div>

<% end %>

<br><br>

<a href="/">Home</a>
<a href="/users/new">Sign Up</a>
<a href="/login">Sign In</a>
<a href="/logout">Sign Out</a>
<a href="/users">View Users</a>
<br>
<a href="/posts/new">Make a post</a>
