<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<div>
  <%= @post.content %>
</div>
<a href="/posts/<%= @post.id %>/edit">Edit Post</a>

<br><br>

<a href="/">Home</a>
<a href="/users/new">Sign Up</a>
<a href="/login">Sign In</a>
<a href="/logout">Sign Out</a>
<br>
<a href="/posts">View Posts</a>
<a href="/posts/new">New Posts</a>