<h1>Chatter</h1>
<h3>Get chatting!</h3>

<br>

<% if current_user == nil %>
  <a href="/users/new">Sign Up</a>
  <a href="/login">Sign In</a>
<% else %>
  <a href="/logout">Sign Out</a>
<% end %>

<br>

<% if current_user != nil %>
  <a href="/users/<%= current_user.id %>">Profile</a>
<% end %>

<a href="/users">View Users</a>
<a href="/posts">View Posts</a>
